
.container.about {
    margin-top: 25px;
    padding-top: 5px;
    border-top: black 1px solid;
    text-align: center;
}

.about-title {
    font-size: 35px;
    margin: 15px;
}

.about-text {
    font-size: 17px;
}

.container.artist-products {
    margin-top: 200px;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}


#artist-name-detailed {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;

}


#lastProductsCarousel {
    width: 750px;
    height: 750px;
}

.col-2.artist-products {
    padding: 0;

}

.carousel-img-size {
    width: 750px;
    height: 750px;
}

.image-resize {
    width: 352px;
    height: 352px;
}

.modal-content-image {
    width: 200%;
    height: 200%;
}

.product-image.artist-detailed {
    width: 174px;
    height: 174px;
    margin: 25px;
}

.row {
    margin: 5px;
}

.artist-card.detailed {
    border: black 1px solid;
    text-align: center;
    margin-top: 25px;
    border-radius: 50px;
}

.collectible-card {
    border: black 1px solid;
    margin-bottom: 25px;
    box-shadow: 7px 7px 6px #888888;
}

.modal-backdrop {
    opacity: 0.95 !important;
}

.image-detailed  {
    box-shadow: 10px 10px 8px #888888;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 705px;
    cursor: pointer;
}

.detailed-infoBox {
    margin-top: 25px;;

}

.description {
    font-size: smaller;
}

.artist-card-thumbnail{
    alignment: center;

}

.collectible-card-infoContainer {
    padding: 5px;
}

.label {
    font-size: 12px;
}


.image-thumbnail {
    padding: 1px;
}

.product-price {
    text-align: right;
    color: darkgreen;
    font-size: 18px;
}

.product-title {
    margin-bottom: 15px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 40px;
}


.row.priceTag {
    padding-top: 5px;
    border-top: black 1px solid;
    text-align: center;
}

.row.priceLabel {
    padding-bottom: 5px;
    border-bottom: black 1px solid;
    text-align: center;
}

.product-title-thumbnail {
    font-size: larger;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-decoration: none;
}
