.container {

    background-color: antiquewhite;;
}

.detailed {
    height: 500px;
}

.image-resize {
    width: 352px;
    height: 352px;
}


.row {
    padding: 10px;
}

.artist-card {
    border: black 2px solid;
    text-align: center;
}

.nft-price {
    margin-left: 25px;
}

.nft-title {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 100px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 40px;
}

.nft-title-thumbnail {

}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
