{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for nft in nfts %}
                <div class="col">
                    <div class="nft card">
                        <a href={{ url_for("detailed_view", image_id=nft.id )}}>
                            <img src={{ nft.img_link }} class="img-fluid" alt="...">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}