{% extends "layout.html" %}
{% block content %}
    <div class="modal fade" id="image-detailed-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <img class="modal-content-image" alt="error" src="{{ product.img_link }}">
        </div>
    </div>
    <div class="container" id="detailed-container">
        <div class="row" id="detailed-row" style="align-content: center">
            <div class="col-sm-12 col-xl-8">
                <img class="img-fluid image-detailed" data-toggle="modal" data-target="#image-detailed-modal" alt="example" src={{ product.img_link }}>
            </div>
            <div class="col-sm-12 col-xl-4">
                <div class="detailed-infoBox">
                    <div class="row">
                        <div class="col">
                            <div class="product-title">
                                {{ product.title }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="description">{{ product.description }}</span>
                        </div>
                    </div>
                    <div class="row priceTag">
                        <div class="col-md-6">
                            <span class="product-price">{{ product.base_price }}Ξ</span>
                        </div>
                        <div class="col-md-6">
                            <span class="product-price">{{ product.last_price }}Ξ</span>
                        </div>
                    </div>
                    <div class="row priceLabel">
                        <div class="col-md-6">
                            <span class="label detailed">List price</span>
                        </div>
                        <div class="col-md-6">
                            <span class="label detailed">Last price</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="artist-card detailed">
                                <a href={{ url_for("detailed_artist_view", artist_id=product.artist.id) }}>
                                    <span class="artist-card-thumbnail">{{ product.artist.name }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

