{% extends "layout.html" %}
{% block content %}
    <div class="wrapper">
        <div class="container slideshow">
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
        <div class="container about">
            <div class="row">
                <div class="col">
                    <div class="about-title">
                        About Balkan Collectible
                    </div>
                    <div class="about-text">
                        Balkan Collectible is a virtual gallery curating physically redeemable non-fungible tokens(NFT) from young and talented Eastern-European artists.
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}